@import '~@fluentui/react/dist/sass/References.scss';


.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.context, .principle, .participants, .modalites, .eligibilite, .steps {
  margin-top: 20px;
}

h1, h2, h3 {
  color: #333;
}

p {
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

ul {
  padding-left: 20px;
}

.email {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.steps ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.steps ol li {
  margin-bottom: 10px;
}

.steps ol li h3 {
  margin-top: 10px;
}

.steps ol li p {
  margin-top: 5px;
}
